.home-js{
margin-left: 13vh;
margin-top: 10vh;
}
.header{
    margin-left: 4vh;
    display: grid;
    grid-template-columns: 4fr 1fr ;
}
.single-cart1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}